@import '../lib/vars.scss';
@import '../lib/functions.scss';
@import '../lib/breakpoints.scss';

.header {
  z-index: 9999;
}
.header_fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.4s ease;
}

.gnb_container,
.aside_container {
  display: none;
}
.mobile_gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 1.25rem;
  background-color: _color(white);
  border-bottom: 1px solid _color(gray, 4);
  box-sizing: border-box;
  .mobile_search {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.6em 1.5rem;
    background-color: _color(white);
    box-sizing: border-box;
    z-index: 9999;
    input {
      width: 80%;
      padding: 0;
      border: none;
    }
    button {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}
.mobile_lnb_container {
  width: 100%;
  background-color: _color(white);
  border-bottom: 1px solid _color(gray, 4);
  ul {
    overflow: hidden;
    li {
      width: 33.3%;
      float: left;
      padding: 0.55em 0;
      text-align: center;
    }
  }
}
.mobile_aside_container {
  .aside {
    position: fixed;
    top: 0;
    left: -17.188rem;
    width: 17.188rem;
    height: 100%;
    background-color: _color(white);
    transition: all 0.4s;
    z-index: 9999;
    &.open {
      left: 0;
    }
  }
  .mobile_aside_top {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.563rem;
    box-sizing: border-box;
    a {
      width: 80%;
      cursor: pointer;
    }
    span {
      display: flex;
      justify-content: right;
      cursor: pointer;
    }
  }
  .mobile_aside_userinfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div {
      width: 3rem;
      height: 3em;
      margin-right: 0.5rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  ul {
    padding: 1em 0;
    border-top: 1px solid _color(gray, 4);
    li {
      padding: 0.75em 1.563rem;
      cursor: pointer;
    }
  }
  .aside_upload {
    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        margin-right: 0.75rem;
        line-height: 1em;
        font-size: _fs(medium);
        color: _color(gray, 8);
      }
    }
  }
}
.dark_bg {
  display: none;
  &.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: _color(black);
    opacity: 0.5;
    z-index: 9998;
  }
}
.menu_active {
  a,
  div,
  h2 {
    color: _color(point);
  }
}
.submenu_active {
  h3 {
    color: _color(black);
  }
}

@include respond-to(large) {
  .mobile_gnb_container,
  .mobile_lnb_container,
  .mobile_aside_container {
    display: none;
  }
  .gnb_container {
    display: block;
    .gnb {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 4.25em;
      padding: 1em 1.563rem;
      background-color: _color(white);
      box-sizing: border-box;
      box-shadow: $shadow;
      z-index: 101;
      .gnb_left {
        display: flex;
        h1 {
          margin-left: 1.25rem;
        }
      }
      .gnb_search_bar {
        width: 20rem;
        position: relative;
        input {
          width: calc(100% - 3rem);
          padding-left: 1rem;
          padding-right: 3rem;
        }
        button {
          border: none;
          background-color: unset;
          padding: 0;
          position: absolute;
          top: 0.25em;
          right: 0rem;
        }
      }
      .gnb_right {
        display: flex;
        align-items: center;
        .upload_icon {
          position: relative;
          margin: 0 1.25rem;
          padding-right: 1.25rem;
          border-right: 1px solid _color(gray, 4);
          &:hover {
            color: _color(point);
          }
        }
        .upload_dropdown {
          position: absolute;
          top: 4em;
          right: 5.75rem;
          padding: 0.5em 0;
          background-color: _color(white);
          box-shadow: $shadow;
          div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.5em 1.25rem;
            font-size: _fs(normal);
            span {
              margin-right: 0.75rem;
              line-height: 0;
              font-size: _fs(medium);
              color: _color(gray, 8);
              opacity: 0.75;
            }
            &:hover {
              color: _color(point);
              cursor: pointer;
              span,
              h3 {
                color: _color(point);
              }
            }
          }
        }
        .gnb_userinfo {
          div {
            width: 3rem;
            height: 3em;
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        .userinfo_dropdown {
          position: absolute;
          top: 4em;
          right: 0.25rem;
          padding: 0.5em 0;
          background-color: _color(white);
          box-shadow: $shadow;
          ul {
            width: 8.5rem;
          }
          li {
            padding: 0.5em 2rem;
            font-size: _fs(normal);
            &:hover {
              color: _color(point);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .aside_container {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 13.75rem;
    height: 100%;
    background-color: _color(white);
    border-right: 1px solid _color(gray, 3);
    box-sizing: border-box;
    z-index: 100;
    li {
      overflow: hidden;
      padding: 1em 1.25rem;
      div,
      h2 {
        float: left;
      }
      h2 {
        margin-left: 0.75rem;
      }
      &:hover {
        background-color: _color(gray, 1);
        cursor: pointer;
      }
    }
    .icon {
      font-size: _fs(medium);
    }
    .aside_lnb {
      margin-top: 5.5em;
      .icon {
        margin-top: 0.175em;
      }
    }
    .aside_sub_container {
      padding-top: 1em;
      border-top: 1px solid _color(gray, 3);
      .aside_sub_title {
        position: relative;
        width: 100%;
        .aside_btn {
          position: absolute;
          top: -0.25em;
          right: 0;
          width: 2.75em;
          height: 2rem;
          margin: 0;
          padding-top: 0.425rem;
          text-align: center;
          font-size: _fs(small);
          border-radius: 50%;
          box-sizing: border-box;
          z-index: 101;
          &:hover {
            background-color: _color(gray, 3);
          }
        }
        .aside_my {
          padding-right: 5rem;
        }
      }
      .aside_sub {
        margin-top: 2em;
        margin-left: 0.5rem;
        li {
          padding: 0.5em 1.25rem;
          font-size: _fs(small);
          h3 {
            color: _color(gray, 7);
            &:hover {
              color: _color(black);
            }
          }
        }
      }
    }
    &.aside_folded {
      width: 3.85rem;
      h2,
      .aside_sub,
      .aside_btn {
        display: none;
      }
      .icon {
        margin: 0;
      }
    }
  }
}
