@import '../lib/vars.scss';
@import '../lib/functions.scss';
@import '../lib/breakpoints.scss';

.listHeader {
  margin: 1rem 0;
  em {
    font-size: 1.2em;
    color: _color(point);
  }
}

.link {
  &.moreList {
    color: _color(gray, 6);
    font-size: 0.9em;
    float: right;
  }
}

.listContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchVideoBox {
  display: flex;
  width: 300px;
  margin: 0 auto 1em;
  img {
    width: 150px;
  }
  .searchVideoDetail {
    padding-left: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    .title {
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 0.5em;
      color: _color(black);
    }
    .videoUserName {
      color: _color(point);
    }
    a {
      color: _color(point);
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      overflow: hidden;
      color: _color(gray, 7);
    }
  }
}

.searchContent {
  margin-bottom: 0.75em;
  line-height: 1.5em;

  span {
    color: _color(gray, 4);
    font-size: 0.6em;
  }
}

.searchPage {
  display: flex;
  flex-direction: column;
}

.searchTabContainer {
  display: flex;
  position: relative;
  border-bottom: 1px solid _color(gray, 3);
  box-sizing: border-box;
}

.searchTextArea {
  width: 100%;

  .search_menu {
    border-top: 1px solid _color(gray, 3);
  }

  .search_text {
    padding: 1.05em;

    .searchSpan {
      font-size: 1.3em;

      &.point {
        color: _color(point);
      }
    }
  }

  ul {
    margin-top: 1em;
    display: inline-block;
    left: 50%;
    display: flex;
  }
  li {
    float: left;
    margin-right: 2em;

    width: 33.3%;
    float: left;
    padding: 0.55em 0;
    text-align: center;
    &.selected {
      border-bottom: 2px solid _color(point);
    }

    & .spanTab {
      display: inline-block;
      line-height: 2em;
      color: #000;
      cursor: pointer;
    }
  }
}

.listContainer {
  width: 100%;
  display: flex;
  background-color: _color(white);
  flex-direction: column;
  align-items: center;
}

.listBox {
  width: 280px;
  margin: 0 auto;
  flex-direction: column;

  display: flex;
  background-color: #fff;

  &.margin_top {
    margin-top: 2em;
  }
}

@include respond-to(medium) {
  .listContent {
    display: unset;
    overflow: hidden;
  }
  .searchContent {
    width: 130px;
    float: left;
    margin-right: 26.5px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  .listBox {
    width: 600px;
  }
  .searchVideoBox {
    width: 50%;
    height: 112.5px;
    float: left;
  }
}

@include respond-to(large) {
  .listHeader {
    margin: 1rem;
  }
  .searchPage {
    margin-top: 4.25em;
    margin-left: 13.75rem;
  }

  .listContainer {
    background-color: _color(gray, 2);
  }
  .listContent {
    margin: 1em;
  }

  .search_text {
    .searchSpan {
      font-size: 1.7em;
    }
  }

  .searchTextArea {
    width: auto;
    padding: 3em 0 0 10em;
    .search_text {
      padding: 0;
    }
    .search_menu {
      border-top: none;
    }

    li {
      float: left;
      margin-right: 2em;
      padding: 0.55em 0;
      width: auto;
      &.selected {
        border-bottom: 2px solid _color(point);
      }

      & .spanTab {
        display: inline-block;
        line-height: 2em;
        color: #000;
        cursor: pointer;
      }
    }
  }
  .listBox {
    width: 80%;
    border-top: 1px solid _color(gray, 3);
    border-left: 1px solid _color(gray, 3);
    border-right: 1px solid _color(gray, 3);
  }
}
