@import '../lib/vars.scss';
@import '../lib/functions.scss';
@import '../lib/breakpoints.scss';

.list_header {
  margin: 1rem 0;
  em {
    font-size: 1.2em;
    color: _color(point);
  }
}

.user_img {
  width: 70px;
  height: 70px;
  border: 3px solid #d8d8d8;
  border-radius: 50%;
}

.link {
  &.moreList {
    color: _color(gray, 6);
    font-size: 0.9em;
    float: right;
  }
}

.list_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video_views {
  .icon {
    margin-left: 0.25rem;

    vertical-align: text-top;
  }
  p {
    line-height: 1.25em;
    font-size: 0.75rem;
  }
}
.search_videobox {
  display: flex;
  width: 300px;
  margin: 0 auto 1em;
  img {
    width: 170px;
    height: 95px;
    &:hover {
      opacity: 0.5;
    }
  }
  .img_len {
    position: absolute;
    bottom: 0.5em;
    right: 0.25rem;
    width: 2.5rem;
    height: 1.75em;
    text-align: center;
    line-height: 1.75em;
    font-size: 0.625rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .search_videodetail {
    display: flex;
    justify-content: start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em 1.2em;
    width: 55%;
    .title {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 90%;
      white-space: nowrap;
      font-size: 1em;
      color: _color(black);
    }
    .video_username {
      color: _color(point);
    }
    a {
      color: _color(point);
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      overflow: hidden;
      color: _color(gray, 7);
    }
  }
}

.search_content {
  margin-bottom: 1em;
  padding-right: 1.5rem;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: _color(gray, 6);
    font-size: 0.9em;
  }
}

.search_page {
  display: flex;
  flex-direction: column;
}

.searchtab_container {
  display: flex;
  position: relative;
  border-bottom: 1px solid _color(gray, 3);
  box-sizing: border-box;
}

.search_textarea {
  width: 100%;

  .search_menu {
    border-top: 1px solid _color(gray, 3);
  }

  .search_text {
    padding: 1.05em;

    .search_span {
      font-size: 1.4em;

      &.point {
        color: _color(point);
      }
    }
  }

  ul {
    margin-top: 1em;
    display: inline-block;
    left: 50%;
    display: flex;
  }
  li {
    float: left;
    margin-right: 2em;

    width: 33.3%;
    float: left;
    padding: 0.55em 0;
    text-align: center;
    &.selected {
      border-bottom: 2px solid _color(point);
    }

    & .span_tab {
      display: inline-block;
      line-height: 2em;
      color: #000;
      cursor: pointer;
    }
  }
}

.list_container {
  width: 100%;
  display: flex;
  background-color: _color(white);
  flex-direction: column;
  align-items: center;
}

.list_box {
  width: 280px;
  margin: 0 auto;
  flex-direction: column;

  display: flex;
  background-color: #fff;

  &.margin_top {
    margin-top: 2em;
  }
}

@include respond-to(medium) {
  .list_content {
    display: unset;
    overflow: hidden;
  }
  .search_content {
    width: 130px;
    float: left;
    margin-right: 26.5px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  .list_box {
    width: 600px;
  }
  .search_videobox {
    width: 50%;
    float: left;
    margin-bottom: 1em;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
}

@include respond-to(large) {
  .list_header {
    margin: 1rem;
  }
  .search_page {
    margin-top: 4.25em;
    margin-left: 13.75rem;
  }

  .list_container {
    background-color: _color(gray, 2);
  }
  .list_content {
    margin: 1em;
  }

  .search_text {
    .search_span {
      font-size: 2em;
    }
  }

  .search_textarea {
    width: auto;
    padding: 3em 0 0 10em;
    .search_text {
      padding: 0;
    }
    .search_menu {
      border-top: none;
    }

    li {
      float: left;
      margin-right: 2em;
      padding: 0.55em 0;
      width: auto;
      &.selected {
        border-bottom: 2px solid _color(point);
      }

      & .span_tab {
        display: inline-block;
        line-height: 2em;
        color: #000;
        cursor: pointer;
      }
    }
  }
  .search_videodetail {
    display: flex;
    padding-left: 0;
    justify-content: start;
    flex-direction: column;
    box-sizing: border-box;
    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      font-size: 1em;
      color: _color(black);
    }

    a {
      color: _color(point);
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.25em;
      font-size: 0.75rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      white-space: nowrap;
      overflow: hidden;
      color: _color(gray, 7);
    }
  }
  .list_box {
    width: 80%;
    border-top: 1px solid _color(gray, 3);
    border-left: 1px solid _color(gray, 3);
    border-right: 1px solid _color(gray, 3);
  }
}
