@import "./lib/vars.scss";
@import "./lib/functions.scss";
@import "./lib/breakpoints.scss";
@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
select,
option {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "NEXON Lv2 Gothic";
  font-weight: normal;
  font-style: normal;
  color: _color(black);
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
// .container {
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 6em 1fr 220px;
//   grid-template-areas:
//     "header"
//     "main"
//     "footer";
//   header {
//     grid-area: header;
//   }
//   main {
//     grid-area: main;
//   }
//   footer {
//     grid-area: footer;
//   }
// }
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: _fs(medium);
  line-height: 1.5rem;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
  &:before,
  &:after {
    content: "";
    content: none;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
input,
button,
select,
option {
  border: none;
  outline: none;
  font-family: "NEXON Lv2 Gothic";
  font-size: _fs(normal);
  border-radius: 3px;
}
input {
  padding: 0.65em 0.625rem;
  border: 1px solid _color(gray, 4);
  &:focus {
    border-color: _color(point);
  }
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  display: inline-block;
  position: relative;
  width: 1.438rem;
  height: 1.438rem;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
  border: 1px solid _color(gray, 4);
  border-radius: 50%;
  background-color: _color(white);
  &:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
  }
  &:disabled {
    cursor: not-allowed;
  }
  &:after {
    width: 0.344rem;
    height: 0.594rem;
  }
  &:checked {
    &:after {
      border: 2px solid _color(point);
      border-top: 0;
      border-left: 0;
      top: 3px;
      left: 7px;
      transform: rotate(40deg);
    }
  }
}
select {
  padding: 0.75em 1.25rem 0.75em 0.438rem;
  border: 1px solid _color(gray, 4);
  border-radius: 2px;
  // background: url() no-repeat 95% 50%;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  // &::-ms-expand {
  //   display: none;
  // }
}
button {
  padding: 0.75em 0.875rem;
  border: 1px solid _color(gray, 4);
  background-color: _color(white);
  color: _color(black);
  &.primary {
    border: 1px solid _color(point);
    background-color: _color(point);
    color: _color(white);
    &:hover {
      background-color: _color(blue);
      color: _color(white);
    }
  }
  &.circle {
    padding: 0.75em 0.938rem;
    border-radius: 5em;
    &.primary {
      border: 1px solid _color(point);
      background-color: _color(point);
      &:hover {
        background-color: _color(blue);
        color: _color(white);
      }
    }
  }
  &:hover {
    border-color: _color(point);
    color: _color(point);
    cursor: pointer;
  }
}
.icon {
  line-height: 0;
  font-size: _fs(xlarge);
  color: _color(gray, 8);
  cursor: pointer;
}

@include respond-to(large) {
  // .container {
  //   display: grid;
  //   grid-template-columns: 15.7em auto;
  //   grid-template-rows: 60px 1fr 150px;
  //   grid-template-areas:
  //     "header header"
  //     "aside main"
  //     "footer footer";
  // }
  // header {
  //   grid-area: header;
  // }
  // main {
  //   grid-area: main;
  // }
  // aside {
  //   grid-area: aside;
  // }
  // footer {
  //   grid-area: footer;
  // }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input {
    font-size: _fs(normal);
  }
  button,
  select,
  option {
    font-size: _fs(small);
  }
}
