@import "./lib/vars.scss";
@import "./lib/functions.scss";
@import "./lib/breakpoints.scss";

.header {
  z-index: 9999;
}

.gnb_container,
.aside_container {
  display: none;
}
.mobile_gnb_container {
  .mobile_gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 1.25rem;
    background-color: _color(white);
    border-bottom: 1px solid _color(gray, 4);
    .mobile_search {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0.5em 1.25rem;
      background-color: _color(white);
      box-sizing: border-box;
      z-index: 9999;
      input {
        width: 85%;
        padding-left: 0;
        border: none;
      }
    }
    span {
      cursor: pointer;
    }
  }
}
.mobile_lnb_container {
  background-color: _color(white);
  border-bottom: 1px solid _color(gray, 4);
  ul {
    overflow: hidden;
    li {
      width: 33.3%;
      float: left;
      padding: 0.75em 0;
      text-align: center;
    }
  }
}
.mobile_aside_container {
  .aside {
    position: fixed;
    top: 0;
    left: -17.188rem;
    width: 17.188rem;
    height: 100%;
    background-color: _color(white);
    transition: all 0.4s;
    z-index: 101;
    &.open {
      left: 0;
    }
  }
  .top {
    padding: 1.5em 1.563rem;
    border-bottom: 1px solid _color(gray, 4);
    span {
      float: right;
      cursor: pointer;
    }
  }
  .aside_menu {
    margin-top: 1em;
    li {
      padding: 0.75em 1.563rem;
    }
  }
}
.dark_bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  &.open {
    display: block;
    background-color: _color(black);
    opacity: 0.8;
  }
}

@include respond-to(large) {
  .mobile_gnb_container,
  .mobile_lnb_container,
  .mobile_aside_container {
    display: none;
  }
  .gnb_container {
    display: block;
    .gnb {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 60px;
      padding: 1em 1.563rem;
      background-color: _color(white);
      box-sizing: border-box;
      box-shadow: $shadow;
      z-index: 101;
      .gnb_left {
        display: flex;
        h1 {
          margin-left: 1.25rem;
        }
      }
      .gnb_search_bar {
        position: relative;
        input {
          padding-right: 15.625rem;
        }
        div {
          position: absolute;
          top: 0.5em;
          right: 1.125rem;
        }
      }
      .gnb_right {
        display: flex;
        align-items: center;
        div {
          margin: 0 1.25rem;
          padding-right: 1.25rem;
          line-height: 2rem;
          border-right: 1px solid _color(gray, 4);
        }
      }
    }
  }
  .aside_container {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 13.75rem;
    height: 100%;
    background-color: _color(white);
    border-right: 1px solid _color(gray, 3);
    box-sizing: border-box;
    z-index: 100;
    li {
      padding: 0.75em 1.25rem;
      span {
        margin-left: 0.75rem;
        h2 {
          display: inline-block;
        }
      }
      &:hover {
        background-color: _color(gray, 1);
        cursor: pointer;
      }
    }
    .aside_lnb {
      margin-top: 5.5em;
    }
    .aside_sub_container {
      padding-top: 1em;
      border-top: 1px solid _color(gray, 3);
      div {
        position: relative;
        margin-left: 3px;
        .aside_btn {
          position: absolute;
          top: -0.25em;
          right: 0;
          width: 2.5em;
          height: 2rem;
          text-align: center;
          line-height: 2rem;
          border-radius: 50%;
          transition: all 0.4s;
          z-index: 101;
          &:hover {
            background-color: _color(gray, 3);
          }
          &.toggle {
            transform: rotate(180deg);
          }
        }
      }
      .aside_sub {
        margin-top: 0.5em;
        margin-left: 0.65rem;
        li {
          padding: 0.4em 1.25rem;
          font-size: _fs(small);
          h3 {
            color: _color(gray, 7);
            &:hover {
              font-weight: bold;
              color: _color(black);
            }
          }
        }
      }
    }
    &.aside_folded {
      width: 3.85rem;
      span,
      .aside_sub {
        display: none;
      }
    }
  }
}
