@import "./lib/vars.scss";
@import "./lib/functions.scss";
@import "./lib/breakpoints.scss";

.modal_wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000080;
  z-index: 20;
}
.find_modal {
  position: relative;  
  top: 9.375rem;
  margin: 0 auto;
  z-index: 30;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 15%);
  .modal_header {
    position: relative;
    margin: 0px 1.25rem;
    padding: 1.25rem 0 0.625rem;
    border-bottom: 0.125rem solid _color(grey, 5);
    h1 {
      font-size: _fs(medium);
      width: max-content;
      margin: -0.75rem 0px;
      padding: 0.5rem 0;
      border-bottom: 0.125rem solid _color(black);
    }
  }
  .modal_content_header {
    margin: 0.625rem 1.25rem 1.25rem;
  }
  .modal_content_wrap {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal_content {
      flex-direction: column;
      display: flex;
      width: 85%;
      height: 7.5rem;
      justify-content: center;
      align-items: center;
      border: solid 0.0625rem _color(gray, 3);
      .modal_input {
        position: relative;
        height: 1.8125rem;
        margin-bottom: 0.5rem;
        padding: 0.4375rem 1rem 1.5625rem 0.6rem;
        background-color: _color(white);
        overflow: hidden;
        input {
          font-size: _fs(normal);
          font-weight: 700;
          line-height: 2rem;
          height: 2rem;
          margin: 0.0625rem;
          padding-left: 1.1875rem;
          border: 0;
          color: #000;
          border: solid 0.0625rem _color(gray, 5);
          background-color: _color(white);
          &:focus {
            border: solid 0.0625rem _color(point);
            box-shadow: 0 0.125rem 0.375rem 0 rgb(61 80 81 / 8%);
          }
        }
      }
      p {
        color: #ff0000bf;
        font-size: _fs(normal);
        font-weight: 700;
        margin: -0.1rem 0 -1.4rem;
      }
    }
    button {
      font-size: _fs(normal);
      font-weight: 700;
      margin: 1.25rem 0;
      padding: 0.9375rem 2.5rem;
      color: _color(gray, 8);
      border-color: _color(gray, 5);
      &:hover {
        border: 0.0625rem solid _color(point);
        background-color: _color(point);
        color: _color(white);
        box-shadow: 0 0.125rem 0.375rem 0 rgb(61 80 81 / 8%);
      }
    }
  }
}

@include respond-to(small) {
  .find_modal {
    width: 85%;
    height: 20rem;
    input {
      width: 85%;
    }
    .modal_content_header{
      font-size: _fs(normal);
    }
  }
}
@include respond-to(medium) {
  .find_modal {
    width: 36rem;
    height: 20rem;
    input {
      width: 18rem;
    }
    .modal_content_header{
      font-size: _fs(medium);
    }
  }
}
